# Entorno virtual
backend/venv/
frontend/venv/
.env

# Archivos de logs
*.log

# VSCode o editores
.vscode/
.idea/

# Node (si usás Vue con npm/yarn)
node_modules/
dist/

# Archivos de sistema
.DS_Store
Thumbs.db

